<!-- <router-outlet></router-outlet> -->
<!-- <div class="">
    <div class="">
        <div  class="row">
            <div id="dashboard-page-home-main" class="custom-background-dashboard" [style.background-image]="userDataStore==null?'url()':'url(' + userDataStore.backgroundUrl + ')'">
            <div class="dashboard_col_left-r1">
                <home-menu-left></home-menu-left>
            </div>
            <div class="dashboard_col_right">
                <div class="dashboard_col_right--content">
                    <section>
                        <router-outlet></router-outlet>
                    </section>
                </div>
            </div>
            </div>
        </div>
    </div>
</div> -->
<!--<a class="btn" (click)="test()">test</a>-->
<!-- <div class="row current animate" id="content-tab-1">
    <div class="content-right-col-1 col-lg-8 col-md-8 col-xs-12">
        <div class="content-box-top">
            <div class="info-job">
                <div class="img">
                    <img src="assets/images/av-img-1.png" />
                </div>

                <div class="ct-info">
                    <p class="title">Nice job {{currentUser.full_name}}!</p>
                    <p class="desc">{{positiveMessages}}</p>

                    <a href="javascript:void(0)" (click)="goto340b()" class="btn-job">Capture Patients</a>
                </div>
                <div class="info-job-image-right">
                    <img src="{{currentLocation.image_url}}">
                </div>
            </div>
            <div class="list-bottom">
                <div class="column-info">
                    <div class="column-info-inner">
                        <p>{{pointInDay}}</p>
                        <p>Points</p>
                    </div>
                    <app-tooltip *ngIf="pageView=='overview' && stepView == 1"></app-tooltip>
                </div>
              
                <div class="column-info">
                    <div class="column-info-inner">
                        <p>{{currentUser.totalDayPatient}}</p>
                        <p>Patients </p>
                    </div>
                    <app-tooltip *ngIf="pageView=='overview' && stepView == 3"></app-tooltip>
                </div>
                
                   
                <div class="column-info">
                    <div class="column-info-inner">
                        
                        <p>{{currentUser.token}}</p>
                        <p>Tokens</p>
                    </div>
                    <app-tooltip *ngIf="pageView=='overview' && stepView == 2"></app-tooltip>
                </div>
            </div>
        </div>
        <div class="content-box-bottom">
            <div class="table-all-starts">
                <p class="title">This Month’s All Stars</p>
                <div style="position: relative;">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr *ngFor="let user of currentClinic.TopUser;let i = index">
                                    <td>
                                        <p>{{i+1}}</p>
                                    </td>
                                    <td>
                                        <img src="{{user.avatarUrl}}" />
                                    </td>
                                    <td>{{user.full_name}}</td>
                                    <td>{{user.month_point}}</td>
                                </tr>

                            </tbody>
                        </table>
                        
                    </div>
                    <app-tooltip *ngIf="pageView=='overview' && stepView == 5"></app-tooltip>
                </div>
            </div>
        </div>
    </div>
    <div class="content-right-col-2 col-lg-4 col-md-4 col-xs-12">
        <div class="box-author">
            <p class="desc">
                <strong>
                    “{{quotes.content}}”
                </strong>
            </p>

            <p class="author-signature">
                - {{quotes.author}}
            </p>
        </div>

        <div class="chart-patients" style="position: relative;">

            <div id="chart-patients-2">
                <div id="container"></div>
                <chart style="display: block" [options]="options"></chart> -->
            <!-- </div>
            <p class="chart-patients-2-title">Making a Difference with 340B</p>
            <app-tooltip *ngIf="pageView=='overview' && stepView == 4"></app-tooltip>
        </div>
    </div>
</div> -->