
<section class="about-us">
    <section class="about-us-header">

    </section>
    <section class="white-row content-row about-us-update">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <h2>About Doc&I</h2>
                <p>Doc&I supports the mission of Health Care Providers and Covered Entities to provide better care for their patients. The Doc & I solution combines patent-pending technology with on premise expertise that works personally with staff and patients to maximize 340B program saving and patient care efforts</p>
                <p>Our 340B Program software, built for healthcare providers, ensures patients receive the best value for their prescriptions prior to arriving at the pharmacy.</p>
                
                <h2>Our Mission</h2>
                <p>At Doc&I it is our mission to support community healthcare by maximizing 340B program benefits.</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <img src="assets/images/conputer-white.jpg">
            </div>
        </div>
    </section>
    <section class="docandi-footer-home">
        <div class="row">
            <div class="col-xs-5 col-sm-6 col-md-6">
                <ul class="docandi-footer-home-list">
                    <li><a href="#" class="doc">Doc&I</a></li>
                    <li>@2017</li>
                </ul>
            </div>
            <div class="col-xs-7 col-sm-6 col-md-6">
                <ul class="docandi-footer-home-list text-right">
                    <li class="about"><a href="#">About Us</a></li>
                    <li><a href="#">Privacy Ploicy</a></li>
                </ul>
            </div>
        </div>
    </section>
</section>
