
<section class="about-340b">
    <section class="about-340b-box-1">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1 about-340b-box-1-content">
                <h1>340B Prescription <br/>Pricing Program</h1>
                <p>340B supports local healthcare providers and provides pricing savings to patients.</p>
            </div>
        </div>
    </section>     
    <section class="teal-row content-row">   
        <div class="row">   
            <div class="col-xs-12 col-sm-7 col-md-offset-1 content-row-content-left">
                <h2>What is 340B</h2>
                <p>The 340B Drug Pricing Program plays a critical role in enabling hospitals, healthcare centers, clinics and other healthcare providers that serve a disproportionate share of low-income and vulnerable patients to fulfill their vital mission of providing care to all regardless of one’s ability to pay.</p>
                <p>Participation in the 340B program is a privilege granted by Congress. Hospitals and other providers use the program to stretch their scarce resources as far as possible, enabling them to reach more eligible patients and provide more comprehensive services.</p>
                <!--<p>Medications that were once hard to afford for uninsured patients become obtainable through discounts provided by the 340B Drug Pricing Program.</p>-->
                
            </div> 
            <div class="col-xs-12 col-sm-3">
                <img src="assets/images/340b.jpg" class="img-340b">
            </div>
        </div>
    </section>
    <section class="white-row content-row">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-offset-1 about-340b-box-ipab-left-1" >
                <img src="assets/images/340b-comparison.png" class="img-340b">
            </div>
            <div class="col-xs-12 col-sm-6 about-340b-box-3 about-340b-box-ipab-right-1">
                <h2>340B Lost Savings </h2>
                <p>
                    Nationally, 340B Qualified entities, such as Disproportionate Share Hospitals, Community Health Centers, Critical Access Hospitals, and Pediatric Hospitals capture <span class="red">only 5%</span> of potential savings available through the 340B program.
                </p>
                <p>
                    Most of this lost opportunity arises from a lack of patient awareness and from a lack of awareness at the pharmacies that are contracted by the 340B Qualified entity. 
                </p>
            </div>
        </div>
    </section>
    <section class="white-row content-row">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-offset-1 content-row-content-left about-340b-box-ipab-left-2">
                <h2>How Doc & I can help</h2>
                <ul class="healthcare-solutions-list">
                    <li><p>Increase awareness among your patients, staff, and providers about the role they play in improving patient care and supporting your covered entity.</p></li>
                    <li><p>Ensure that your patients and covered entity are maximizing the benefits of the 340B Program to stretch scarce resources as far as possible.</p></li>
                    <li><p>Validate and verify that all 340B eligible prescriptions are prescribed in accordance with the most up-to-date 340B guidelines and regulations. <br/><a [routerLink]="['/about']">Ready to Learn More?</a></p></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 about-340b-box-ipab-right-2">
                <div class="about-340b-box-ipab-right-2-content">
                    <img src="assets/images/340b-savings.png" class="img-340b">
                    <div class="about-340b-box-ipab-right-2-img-logo">
                        <img src="assets/images/about-340b-logo-update.jpg" class="img-340b">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="docandi-footer-home">
        <div class="row">
            <div class="col-xs-5 col-sm-6 col-md-6">
                <ul class="docandi-footer-home-list">
                    <li><a href="#" class="doc">Doc&I</a></li>
                    <li>@2017</li>
                </ul>
            </div>
            <div class="col-xs-7 col-sm-6 col-md-6">
                <ul class="docandi-footer-home-list text-right">
                    <li class="about"><a href="#">About Us</a></li>
                    <li><a href="#">Privacy Ploicy</a></li>
                </ul>
            </div>
        </div>
    </section>
</section>
