<router-outlet></router-outlet>
<!-- <div class="">
    <div class="">
        <div  class="row">
            <div id="dashboard-page-home-main" class="custom-background-dashboard" [style.background-image]="userDataStore==null?'url()':'url(' + userDataStore.backgroundUrl + ')'">
            <div class="dashboard_col_left-r1">
                <home-menu-left></home-menu-left>
            </div>
            <div class="dashboard_col_right">
                <div class="dashboard_col_right--content">
                    <section>
                        <router-outlet></router-outlet>
                    </section>
                </div>
            </div>
            </div>
        </div>
    </div>
</div> -->
