<!-- <div class="login-page animate">
	<div class="login-layer">
	<div class="col-lg-6 col-md-6 login-left">
		<div class="rectangle-2">		
			<p class="bg-danger">{{errorMessage}}</p>
			<img class="bitmap" src="assets/images/doc_and_i_logo.png" />
        	<h4 class="sign-in-to-your-acco">Forgot Password</h4>
			<form role="form" #f="ngForm" class="login-form">
				<div *ngIf="!loading" class="form-content col-lg-10 col-lg-offset-1">
					<div class="form-group">
						<input type="email" #emailView="ngModel" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" class="form-control input-underline input-lg" id="username" name="username" [(ngModel)]="userName" placeholder="Email">
						<small *ngIf="!emailView.valid && userName!=null" class="text-danger"> Email is required and format should be <i>john@doe.com</i>.
						</small>
					</div>
				</div>
				<img *ngIf="loading" src="../../images/loading.gif">
				<button class="btn login-btn btn-info m-btn" [disabled]="loading || !f.valid" (click)="forgotPassword()">Send Reset Instructions</button>
			</form>
		</div>
	</div>
	<div class="col-lg-6  col-md-6 login-right">
		<div class="center-text">
				<h1 class="healthcare-portal">Healthcare Portal</h1>
				<h4 class="for-participating-he">For participating healthcare professionals</h4>
		</div>is this 
	</div>
</div>
  </div> -->
  <!-- 
<div class="login-page animate">
 <div class="login-layer">
    <div class="col-lg-6  col-md-6 login-left">
        <div class="rectangle-2">
        <p class="bg-danger">{{errorMessage}}</p>
        <img class="bitmap" src="assets/images/doc_and_i_logo.png" />
        <h4 class="sign-in-to-your-acco">Sign In To Your Account</h4>
        <form role="form" (keyup.enter)="login()" class="login-form">
            <div class="form-content col-lg-10 col-lg-offset-1">
                <div class="form-group">
                    <input type="email" class="form-control input-underline input-lg" id="username" name="username" (keypress)="inputChange()" [(ngModel)]="userName" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-underline input-lg input_lastest" id="password" (keypress)="inputChange()"  name="password" [(ngModel)]="password"  placeholder="Password">
                </div> -->
                <!--<div class="password-forgot"><a [routerLink]="['/sign-up']" > Sign Up !</a></div>-->
                <!-- <div class="password-forgot col m--align-right"><a [routerLink]="['/forgot-password']" >Forgot Password?</a></div>
            </div>
            <button type="submit" class="btn btn-info m-btn login-btn" (click)="login()"> Log in </button>
            &nbsp; -->
            <!--<a type="submit" class="btn rounded-btn" [routerLink]="['/signup']" [hidden]="true">Register</a>-->
        <!-- </form>
        </div>
    </div>
    <div class="col-lg-6  col-md-6 login-right">
        <div class="center-text">
            <h1 class="healthcare-portal">Healthcare Portal</h1>
            <h4 class="for-participating-he">For participating healthcare professionals</h4>
        </div>
    </div>
</div>
</div> -->

    
			
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin animate login-page" id="m_login">
		<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
			<div class="m-stack m-stack--hor m-stack--desktop login-portlet">
				<div class="m-stack__item m-stack__item--fluid">
					<div class="m-login__wrapper">
						<p class="bg-danger">{{errorMessage}}</p>
						<div class="m-login__logo">
							<a href="index.html">
							<img class="login-logo" src="assets/images/doc_and_i_logo.png">  	
							</a>
						</div>
						<div class="m-login__forget-password">
							<div class="m-login__head">
								<h3 class="m-login__title">Forgot Password</h3>
							</div>
							<form class="m-login__form m-form" role="form" #f="ngForm">
								<div class="form-group m-form__group">
									<input class="form-control m-input" #emailView="ngModel" [(ngModel)]="userName" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" type="text" placeholder="Email" name="username" autocomplete="off">
									<small *ngIf="!emailView.valid && userName!=null" class="text-danger"> Email is required and format should be <i>john@doe.com</i>.
									</small>
								</div>
								<div class="row m-login__form-sub">
									<div class="col m--align-right">
										<a class="m-link" [routerLink]="['/login']">Back to Sign in</a>
									</div>
								</div>
								<img *ngIf="loading" src="../../images/loading.gif">
								<div class="m-login__form-action">
									<button id="m_login_forget_password_submit" [disabled]="loading || !f.valid" (click)="forgotPassword()" class="btn btn-info m-btn m-btn--custom" style="width:240px; height: 40px; padding: 0;">Send Reset Instructions</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content m-grid-item--center login-right" style="background-color: rgba(54, 163, 247, 0.84);">
			<div class="m-grid__item login-text">
				<h3 class="m-login__welcome">Healthcare Portal</h3>
				<p class="m-login__msg">
						For participating healthcare professionals
				</p>
			</div>
		</div>
</div>				
		
		