
<section class="healthcare-solutions healthcare-solutions-update">
    <section class="healthcare-solutions-header">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1 healthcare-solutions-header-content">
                <h1>Improving Patient Care</h1>
                <p>Our healthcare solution combines patent-pending technology with on premise expertise to maximize 340B program savings and patient care efforts.</p>
            </div>
        </div>
    </section>
    <section class="teal-row content-row">
        <a name="savings"></a>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-offset-1">
                <img src="assets/images/conputer-blue.jpg">
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2>340B Software</h2>
                <p>Capture program statistics and verify that all 340B eligible prescriptions are prescibed in accordance with the most up-to-date 340B guidelines and regulations.</p>
                <ul class="healthcare-solutions-list">
                    <li>Easy to use, web-based platform</li>
                    <li>Captures 340B program statistics</li>
                    <li>Seamless integration</li>
                    <li>Staff training provided</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="white-row content-row">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-offset-1">
                <h2>Prescription Savings</h2>
                <p>Provide savings to your patients through the 340B Drug Discount Program and pharmacy partnerships.</p>
                <ul class="healthcare-solutions-list">
                    <li>Custom prescription discounts</li>
                    <li>340B information for patients</li>
                    <li>340B benefits for clinic</li>
                    <li>Interactive contracted pharmacy map  </li>
                </ul>
                <p class="healthcare-solutions-link"><a [routerLink]="['/about340b']">Learn More About 340B</a></p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-offset-1">
                <img src="assets/images/pharmacy-finder.png">
            </div>
        </div>
    </section>
    <section class="healthcare-solutions-closer content-row">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-sm-offset-5">
                <h2>340B Consultation</h2>
                <p>Most 340B covered entities and their patients are missing out on astronomical savings. From setup to implementation, We're here to help.</p>
            </div>
        </div>
    </section>
    <section class="healthcare-solutions-form-update teal-row">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <h2>Schedule a Tour <br>of Our Healthcare Portal</h2>
                <div class="increase-table-row increase-table-right">
                    <div class="increase-table-input">
                        <input type="text" name="" placeholder="Name">
                    </div>
                    <div class="increase-table-input">
                        <input type="email" name="" placeholder="Email Address">
                    </div>
                    <div class="increase-table-input increase-table-textarea">
                        <textarea placeholder="Message" rows="4"></textarea>
                    </div>
                    <div class="increase-table-btn">
                        <button type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="docandi-footer-home">
        <div class="row">
            <div class="col-xs-5 col-sm-6 col-md-6">
                <ul class="docandi-footer-home-list">
                    <li><a href="#" class="doc">Doc&I</a></li>
                    <li>@2017</li>
                </ul>
            </div>
            <div class="col-xs-7 col-sm-6 col-md-6">
                <ul class="docandi-footer-home-list text-right">
                    <li class="about"><a href="#">About Us</a></li>
                    <li><a href="#">Privacy Ploicy</a></li>
                </ul>
            </div>
        </div>
    </section>
</section>

